/* Site-wide styles & utility classes */

body{
	font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.font-override{
	font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.font-bold{
	font-weight: 700;
}

.cursor-override{
	cursor: default;
}

.full-height{
	height: 100%;
}

.caps-override{
  text-transform: none;
}

/* Navbar styles */

.custom-nav{
	opacity: 0.8;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
}

.custom-nav:hover{
	opacity: 1;
}

.isactive{
	opacity: 1;
  border-bottom-color: rgb(83,109,254);
}

/* Events styles*/

.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 250px;
  background-color: rgb(233, 32, 99);
  background-color: rgba(233, 32, 99, 0.2);
}

.banner > .margin-override {
  margin: 0;
}

.banner > a > .mdl-button{
  margin-top: 10px;
}

.event-dialog-override{
  width: 60%;
}

.custom-grid-events{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
}

.custom-cell-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-card-wide.mdl-card {
  width: 100%;
  overflow: visible;
}

.custom-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}

.title-container-override{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.titles-override{
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.mdl-card__subtitle-text-custom {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: inherit;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
          transform-origin: 149px 48px;
  margin: 5px 0px 0px 0px; }

.custom-card-wide > .mdl-card__menu {
  color: #fff;
}

.custom-supporting-text{
-webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cal-menu-link{
	color: #000;
	text-decoration: none;
}

/* Map styles*/

.custom-grid-map{
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: column;
        flex-flow: column;
    padding: 0px;
    box-sizing: border-box;
    border-top: 5px solid transparent;
}

.custom-grid-map > div, .custom-grid-map > iframe{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#map-explainer{
	max-height: 80px;
	text-align: center;
}

#map-explainer > p{
	font-size: 20px;
	padding-top: 10px;
}

