/* Site-wide styles & utility classes */

body{
	font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p{
  font-size: 16px;
}

a{
  color:rgb(76,175,80);
}

.font-override{
	font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.font-bold{
	font-weight: 700;
}

.full-height{
	height: 100%;
}

.caps-override{
  text-transform: none;
}

.font-color-white{
  color: #FFF !important;
}

/* Navbar styles */

.custom-title-link{
  text-decoration: none;
}

.custom-title-link:hover{
  opacity: 0.9;
}

.custom-drawer-link{
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-weight: 700;
}

.custom-drawer-link:hover{
  opacity: 0.7;
}

.custom-nav{
	opacity: 0.8;
	box-sizing: border-box;
	border-bottom: 3px solid transparent;
  color: #FFF !important;
}

.custom-nav:hover{
	opacity: 1;
}

.isactive{
	opacity: 1;
  border-bottom-color: rgb(255, 193, 7);
}

.mdl-layout__header .mdl-layout__drawer-button{
  color: #fff;
}

/* Homepage styles */

.custom-homepage{
  background-image: url("../img/homepage.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullpage-container{
  text-align: center;
  text-shadow: 1px 1px 5px #555;
  margin: 0 15% 0 15%;
}

.custom-homepage-title{
  margin-bottom: 10px;
  line-height: 1.1;
  font-size: 48px;
}

.custom-homepage-text{
  font-size: 18px;
  margin-bottom: 25px;
  padding: 0 10% 0 10%;
}

.custom-homepage-button{
  margin-bottom: 10px;
}

/* Banner styles */

.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  background-color: #E5FFE9;
  background-color: rgba(76, 175, 80, 0.2);
}

.banner > .margin-override {
  margin: 0;
}

.banner > a > .mdl-button{
  margin-top: 10px;
}

/* Events styles */

.event-dialog-override{
  width: 60%;
}

.custom-grid-events{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
}

.custom-cell-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-card-wide.mdl-card {
  width: 100%;
  overflow: visible;
}

.custom-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}

.title-container-override{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.titles-override{
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.mdl-card__subtitle-text-custom {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: inherit;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
          transform-origin: 149px 48px;
  margin: 5px 0px 0px 0px; }

.custom-card-wide > .mdl-card__menu {
  color: #fff;
}

.custom-supporting-text{
-webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Map styles*/

.custom-grid-map{
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: column;
        flex-flow: column;
    padding: 0px;
    box-sizing: border-box;
    border-top: 5px solid transparent;
}

.custom-grid-map > div, .custom-grid-map > iframe{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}